@charset "UTF-8";


header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    margin-bottom: 10px;
    width: 98.4%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button:hover {
    background: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background: #333;
    color: #fff;
}

.center{
	text-align:center;
}
    



