<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LibraryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registrationServlet</display-name>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>com.mkLib.servlet.registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.mkLib.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.mkLib.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addBook</display-name>
    <servlet-name>addBook</servlet-name>
    <servlet-class>com.mkLib.servlet.addBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBook</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editBook</display-name>
    <servlet-name>editBook</servlet-name>
    <servlet-class>com.mkLib.servlet.editBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editBook</servlet-name>
    <url-pattern>/editBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBook</display-name>
    <servlet-name>deleteBook</servlet-name>
    <servlet-class>com.mkLib.servlet.deleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBook</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartServlet</display-name>
    <servlet-name>cartServlet</servlet-name>
    <servlet-class>com.mkLib.servlet.cartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCartItem</display-name>
    <servlet-name>deleteCartItem</servlet-name>
    <servlet-class>com.mkLib.servlet.deleteCartItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCartItem</servlet-name>
    <url-pattern>/deleteCartItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderServlet</display-name>
    <servlet-name>orderServlet</servlet-name>
    <servlet-class>com.mkLib.servlet.orderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newStatus</display-name>
    <servlet-name>newStatus</servlet-name>
    <servlet-class>com.mkLib.servlet.newStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newStatus</servlet-name>
    <url-pattern>/newStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCategory</display-name>
    <servlet-name>addCategory</servlet-name>
    <servlet-class>com.mkLib.servlet.addCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCategory</servlet-name>
    <url-pattern>/addCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editCategory</display-name>
    <servlet-name>editCategory</servlet-name>
    <servlet-class>com.mkLib.servlet.editCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCategory</servlet-name>
    <url-pattern>/editCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCategory</display-name>
    <servlet-name>deleteCategory</servlet-name>
    <servlet-class>com.mkLib.servlet.deleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCategory</servlet-name>
    <url-pattern>/deleteCategory</url-pattern>
  </servlet-mapping>
</web-app>